body,
html {
    margin: 0;
    padding: 0;
    font-family: Tahoma;
}
header {
    background-color: #ff8533;
    font-size: 14px;
    padding-left: 5%;
    line-height: 15px;
    width: 100%;
    color: white;
    box-sizing: border-box;
}
header ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}
header li {
    display: block;
    text-align: center;
    padding: 14px 16px;
    color: white;
    float: left;
}
ul #free {
    padding-top: 6px;
    padding-bottom: 6px;
    margin: 8px;
    background-color: #e65c00;
    border-radius: 3px;
    letter-spacing: 1px;
}

/* Logo Banner */

#two img {
    width: 140px;
    height: 115px;
}
#two {
    display: inline-flex;
    width: 100%;
    padding-left: 8.5%;
    padding-right: 7%;
    box-sizing: border-box;
    border-image: url(assets/perforated-bottom@2x.png) 10 round;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 5px;
    position: relative;
}
#two ul {
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;
}
#two li {
    background-color: white;
    display: inline-block;
    font-size: 25px;
    margin: 2%;
    text-align: center;
}
#two li a {
    text-decoration: none;
    color: black;
}
#right {
    width: 30%;
    padding-top: 10px;
    text-align: right;
    margin-top: 0;
}
#right p {
    display: inline-flex;
    font-size: 13px;
    padding-left: 10px;
    color: #989898;
}
#right form {
    display: inline-block;
    border: 5px solid #f4f4f4;
    border-radius: 5px;
    background-color: #f4f4f4;
}
#right form input {
    height: 18px;
    width: 194px;
    padding: 1px;
}
#right a {
    display: inline-block;
    padding: 3px 12px;
    border: 1px solid #ebebeb;
    text-decoration: none;
    border-radius: 3px;
    color: #5a5a5a;
}

/* Third Row */

#three {
    width: 100%;
    box-sizing: border-box;
    background-color: #f4f4f4;
    padding-bottom: 5%;
    border-bottom: .5px solid #ebebeb;
}
#ties {
    display: flex;
    text-align: center;
    justify-content: center;
}
#ties figure {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: -13%;
    padding-top: 9%;
    padding-right: 10px;
    padding-left: 10px;
}
#ties a {
    text-decoration: none;
    color: black;
}
#three p {
    display: flex;
    justify-content: center;
    margin-bottom: auto;
    margin-top: 3%;
    font-size: 55px;
}
#ties a img {
    height: auto;
    width: 80px;
    align-content: center;
}
#ties figcaption {
    width: 90px;
}

/* Row 4 */

#four {
    display: inline-flex;
    box-sizing: border-box;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: center;
    padding-top: 40px;
}
#four img {
    width: 330px;
    height: auto;
    position: relative;
    border: 1px solid #ebebeb;
}
.asc {
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin: 9px;
}
.asc .display {
    color: black;
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 30px;
    text-align: right;
    font-size: 22px;
    font-weight: bold;
}

/* fifth row */

#five {
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: auto;
    margin-top: auto;
    font-size: 30px;
    text-align: center;
    padding-top: 1.5%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 4%;
    border-bottom: 9px solid transparent;
    border-image: url(assets/hatch-light@2x.png) 0 0 15 0 repeat;
}
#five p {
    margin-bottom: auto;
    font-style: italic;
}
#five a {
    font-size: 18px;
    align-content: center;
    text-decoration: none;
    color: #3e9efc;
    letter-spacing: 2px;
}

/* Sixth Row */

#six {
    box-sizing: border-box;
    width: 100%;
    display: inline-flex;
    padding-left: 7%;
    padding-right: 19%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-image: url(assets/perforated-bottom@2x.png) 10 round;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 5px;
    position: relative;
}
#six img {
    width: 230px;
    height: auto;
    border: 1px solid #ebebeb;
}
.guide h4 {
    margin-bottom: 10px;
    font-size: 20px;
}
.guide {
    width: 25%;
    height: 25%;
    display: table;
    padding-right: 2%;
    padding-left: 2%;
    font-size: 14px;
    line-height: 20px;
}
.guide a {
    text-decoration: none;
    color: #3e9efc;
}
p.social-captions ul li {
    padding-right: 2px;
}
.social-media {
    display: inline-block;
    background-image: url('assets/sprite@2x.png');
    height: 77px;
    width: 77px;
    zoom: .5;
    text-decoration: none;
}
#social ul {
    list-style-type: none;
}
#social ul li {
    display: inline;
}
.social-media ul li a {
    text-decoration: none;
}
.facebook {
    background-position: -540px 0;
}
.pinterest {
    background-position: -540px -80px;
}
.twitter {
    background-position: -540px -160px;
}
.guide input {
    padding: 6px;
    width: 220px;
    font-size: 13px;
    border: 5px solid #f4f4f4;
    margin-bottom: 6px;
    border-radius: 5px;
}
.guide button {
    border: none;
    color: white;
    padding: 7px 12px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 6px;
    background-color: #3e9efc;
}
.guide p {
    margin-top: 2px;
}

/* Seventh Row */

#seven {
    background-color: #f4f4f4;
    display: inline-flex;
    box-sizing: border-box;
    width: 100%;
    justify-content: space-between;
    padding-left: 5%;
    padding-top: 5px;
    margin: 0;
}
#seven h4 {
    margin-bottom: auto;
}
#left {
    float: left;
    display: inline-flex;
}
#left a {
    text-decoration: none;
    list-style-type: none;
    color: #969696;
}
#bottom {
    float: right;
    margin-right: 10%;
    width: 280px;
    height: 85px;
    margin-top: 10px;
    display: inline-block;
    padding: 19px;
    background-color: #a2afc0;
    border-radius: 3px;
    color: white;
}
#bottom h3 {
    display: block;
    margin: 0;
    font-size: 20px;
    font-style: italic;
    font-weight: normal;
}
#bottom button {
    padding: 10px 10px;
    font-size: 16px;
    border-radius: 3px;
    float: right;
    margin-top: 25px;
    background-color: #3e9efc;
    color: white;
    border: 1px solid #398cdd;
}
#bottom p {
    display: inline-block;
    width: 160px;
    height: 50px;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    padding-top: 3px;
}

/* Footer */

footer {
    background-color: #f4f4f4;
    font-size: 10px;
    padding-left: 5%;
    width: 100%;
    color: black;
    box-sizing: border-box;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8%;
    color: #969696;
}

/* Second Page - Specific CSS */

.page2 {
    padding-left: 10%;
    padding-right: 20%;
}
#founder {
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: #f4f4f4;
    box-sizing: border-box;
    width: 100%;
    margin-top: -2px;
    display: inline-block;
    border-bottom: 1px solid #ebebeb;
    display: inline-flex;
    align-items: flex-start;
    font-weight: 300px;
    align-items: center;
}
#ourstory {
    margin-top: none;
    padding-top: none;
    margin-bottom: 0;
}
#ourstory h2 {
    padding: 0;
    margin-top: 0;
    font-size: 40px;
    font-weight: 100;
    margin-bottom: 20px;
    line-height: 1;
    text-align: center;
}
#founder img {
    height: auto;
    width: 230px;
    position: relative;
    margin-right: 3%;
    border: 2px solid gray;
}
#founder2 {
    padding: 0% 9%;
    text-decoration: none;
    margin-top: 9%;
    margin-bottom: 5%;
}
#founder2 a {
    text-decoration: none;
    color: #3e9efc;
}
#done {
    box-sizing: border-box;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
    display: inline-flex;
    align-items: center;
    border-image: url(assets/perforated-bottom@2x.png) 10 round;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 5px;
    position: relative;
}
#done p {
    background-color: none;
    display: inline-block;
    width: 30%;
    margin-right: auto;
}
#done img {
    height: auto;
    width: 250px;
    margin-right: auto;
}
