header {
    background-color: orangered;
    color: white;
}
header>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
header li {
    display: inline;
    float: left;
}
header li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
